
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
   
    
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /* background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%); */
    background-color: black;
   
}

/* header starts */
header {
    background-image: url(../images/plexus1.gif);
    background-size: cover;
    padding: 10px,15px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
     z-index: 9999;
    position: -webkit-sticky;
        position: sticky;
        top: 0;
}

header h1 {
    color: white;
    font-size: 25px;
    align-content: flex-start;
    left: 0;
    padding:25px;
    font-weight: lighter;
}


header nav {
    position: -webkit-sticky;
    position: sticky;
    margin: 7px 0;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

li {
    /* align-self: flex-end; */
    margin-left: 35px;
 }

ul li a {
    font-weight: lighter;
text-decoration: none;
color: white;
display: flex;
flex-wrap: wrap;    
justify-content: space-between;
align-items:flex-end;
font-size: 20px;

}

header nav ul li a:hover {
    color:#93deff; 
    font-size: 25px;
    text-shadow: none;
  }


/* header ends */

.hero {
    background-image: url(../images/plexus1.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
background-position: 80%;
padding: 80px;
}

/* content starts */

/* this class targets all h2s */
.title{
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:15px;
    border-bottom: solid 1px #455d7a;
    /* border-bottom: 1px solid radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%); */
    width: 50%;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 10%;

 
}

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 18px;
    width: 100%;
     margin: 10px 10px;
    background-color:black;
   justify-content: space-around;
   align-items:center; 
}
.geici {
    padding: 15px;
   width: 200px;
   height: 200px;
    /* border-radius: 100px; */
   }

   .profile{
       display: flex;
       flex-wrap: wrap;
       text-align:left;
       border: solid 1px #455d7a;
       width: 22%;
       margin-left: 20px;
       padding:0px;
   }

   .profile li{
       list-style: none;
       margin-left: 5px;
       border-bottom: solid 1px #455d7a;
   }
 p{
    text-justify: inter-word;
     padding:0px;
     text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }


.skills{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 20px;

}

ul li {
    padding:10px;
    text-decoration: none;
    list-style: none;
}
/* work starts */

.work {
   margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dogs img{
        flex:1;
        width:300px;
        margin-left:30px;
        padding-left: 15px;
        padding-top: 10px;
      
    }

.dogs:hover{
    transform: scale(1.1); 

}

/* footer starts */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
/* footer imgs */
.github {
    margin-right: 13px;
}

